@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input, h2 {
  color: black
}

.chat-response {
  background-color: #f8f9fa; /* Light gray */
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  line-height: 1.6;
  color: #333;
  white-space: pre-line;
}
.chat-response strong {
  font-weight: bold;
  color: #222;
}
.chat-response li {
  margin-left: 20px;
}
