/* Chatbot Container */
.chatbotContainer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 50;
}

/* Chatbot Toggle Button */
.chatbotToggle {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
}

.chatbotToggle:hover {
    background-color: #0056b3;
}

/* Chatbot Window */
.chatbotWindow {
    width: 24rem;
    height: 500px;
    padding: 16px;
    border-radius: 8px;
    background: white;
    position: fixed;
    bottom: 70px;
    right: 5px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Chatbot Header */
.chatbotHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.chatbotTitle {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: color 0.2s ease;
}

.closeButton:hover {
    color: #666;
}

/* Chat Message Container */
.chatContainer {
    flex: 1;
    overflow-y: auto;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 6px;
    max-height: 400px;
}

/* Chat Messages */
.chatMessage {
    padding: 12px;
    border-radius: 8px;
    max-width: 80%;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 10px;
}


.userMessage {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    margin-left: auto;
}

.botMessage {
    background-color: #e0e0e0;
    color: black;
    align-self: flex-start;
}

/* Loading Message */
.loadingMessage {
    display: flex;
    align-items: center;
}

.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid #555;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Input Area */
.inputArea {
    display: flex;
    margin-top: 8px;
}

.chatInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

.sendButton {
    margin-left: 8px;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.sendButton:hover {
    background-color: #0056b3;
}
